<section class="container about" id="about-section">
  <div class="about-lineHead">
    <div class="about-line"></div>
    <p class="about-head">About</p>
  </div>
  <div class="about-content">
    <h2 class="about-title">Best Barbershop in your city</h2>
    <p class="about-text">If you want to add more confidence to your image, you should visit us</p>
    <p class="about-textTwo">
      We are a team that never stops at what has been achieved and are thirsty for changes. And when
      you fall into the hands of our master, you will never be the same again. We are a team that is
      always "on the same wave" with clients. Therefore, we are always ready to improve everyone who
      comes to us!
    </p>
  </div>
  <button type="button" class="about-button">online-booking</button>
</section>
