<div class="container header">
    <div>
        <svg class="header-logo" width="70" height="56">
            <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <button type="button" class="header-menu js-open-menu">
            <svg width="40" height="40">
                <use href="/src/images/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
    <div class="header-div">
        <div class="header-div-b">
        <div class="header-line"></div>
        <div>
            <p class="header-a-hair">A HAIR SALON FOR MEN IN WARSAW</p>
        </div>
        </div>

        <div>
            <h1 class="header-h1">BarberShop</h1>
        </div>
        <div>
            <p class="header-we-are">We are experts in trendy men’s haircuts.
            We work quickly, carefully and with style.</p>
        </div>
    </div>
</div>