<div class="menu-container js-menu-container">
    <button type="button" class="js-close-menu menu-button-close">
        <svg width="25" height="25">
            <use href="/src/images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <div class="mobile-menu">
        <ul class="mobile-list">
            <li class="mobile-li">About</li>
            <li class="mobile-li">Services and prices</li>
            <li class="mobile-li">Barbers</li>
            <li class="mobile-li">Contacts</li>
        </ul>
    </div>
</div>