.header {
background-image: url(/src/images/header/slider-img-3_mob@1x.jpg);
background-size: cover;
height: auto;
height: 580px;
flex-shrink: 0;
position: relative;
}

.header-logo {
fill: transparent;
position: fixed;
top: 40px;
left: 31px;
}

.header-menu {
position: fixed;
top: 48px;
right: 31px;
background-color: transparent;
border: none;
}