.header {
background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(/src/images/header/slider-img-3_mob@1x.jpg);
background-size: cover;
height: 580px;
width: 100%;
flex-shrink: 0;
position: relative;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.header {
background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(/src/images/header/slider-img-3_mob@2x.jpg);
}
}

.header-logo {
fill: transparent;
position: fixed;
top: 40px;
left: 31px;
}

.header-menu {
position: fixed;
top: 48px;
right: 31px;
background-color: transparent;
border: none;
}

.header-div {
display: flex;
position: fixed;
flex-direction: column;
top: 208px;
left: 31px;
max-width: 336px;
gap: 20px;
}

.header-line {
width: 60px;
height: 1px;
background: #9da4bd99;
flex-shrink: 0;
background: rgba(157, 164, 189, 0.60);
}

.header-div-b {
display: flex;
gap: 20px;
align-items: center;
}

.header-a-hair {
color: rgba(157, 164, 189, 0.60);
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.1px;
text-transform: uppercase;
}

.header-h1 {
color: var(--color-white);
font-family: Raleway;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.4px;
}

.header-we-are {
color: #9DA4BD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.62;
letter-spacing: 0.32px;
}