.menu-container {
width: 320px;
flex-shrink: 0;
background: var(--color-white);
box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.16), -2px 0px 4px 0px rgba(0, 0, 0, 0.08), -4px 0px 8px 0px rgba(0, 0, 0, 0.04);
overflow-y: auto;
position: fixed;
top: 0;
right: 0;
height: 100vh;
z-index: 999;
transform: translateX(100%);
transition: 250ms ease-in-out;
}

.menu-container.is-open {
transform: translateX(0);
}

.menu-button-close {
    border: none;
    background-color: transparent;
    position: fixed;
    top: 48px;
    right: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.mobile-menu {
    position: fixed;
    top: 118px;
    left: 40px;
}

.mobile-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-li {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
}