.menu-container {
width: 320px;
flex-shrink: 0;
background: var(--color-white);
box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.16), -2px 0px 4px 0px rgba(0, 0, 0, 0.08), -4px 0px 8px 0px rgba(0, 0, 0, 0.04);
overflow-y: auto;
position: fixed;
top: 0;
right: 0;
height: 100vh;
z-index: 999;
transform: translateX(100%);
transition: 250ms ease-in-out;
}

.menu-container.is-open {
transform: translateX(0);
}